<div class="jumbotron">

  <button routerLink="/books/add" type="button" class="btn btn-info">Add new book</button>
  <button style="margin-left: 6rem"  class="btn btn-danger" (click)="deleteAllBooks()"> Delete all</button>
  <br><br>
  <div class="row">
    <div class="col" *ngFor="let book of books">
      <div class="card text-white bg-dark mb-3 " [class.selected]="isSelected(book)" style="width: 20rem; height: 12rem;" (click)="onSelect(book)" >
        <div class="card-header"  >
          <h5 >{{book.title}} 
            <small class="text-muted"> {{book.pages.length}} pages</small> 
          </h5>
          <small class="text-muted"> ({{book.genre}})</small> 
        </div> 
        <div class="card-body">
          Authors:<br>
          <span class="card-text" *ngFor="let author of book.authors; let isLast=last">
              <small class="text-muted">{{author.name}}{{isLast ? '' : ', '}}</small>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>