

<div class="jumbotron">
    <button routerLink="/pages/add" type="button" class="btn btn-info">Add new page</button>
  <br> <br>
  <div class="row">
      <div class="col" *ngFor="let page of pages" >
        <div class="card text-white bg-dark mb-3 " style="width: 20rem; height: 12rem;">
            <div class="card-header">{{page.ordinalNumber}}</div>
            <div class="card-body">
              <p class="card-text">{{page.text}}</p>
            </div>
        </div>
      </div>
  </div>
</div>

