
<div class="jumbotron">
  <h2>Book details</h2>
  <button class="btn btn-secondary" (click)="gotoBooks()"> Back </button>
  <button style="margin-left: 8rem" class="btn btn-info" (click)="updateBook()"> edit book</button>
  <button style="margin-left: 10px" class="btn btn-danger" (click)="deleteBook()"> delete book</button>
  <br><br>
  <div class="card text-white bg-dark mb-3" style="max-width: 25rem;"  >
    <div class="card-header">
      <h3>{{targetBook.title}}
          <small class="text-muted"> ({{targetBook.genre}})</small> 
      </h3>
    </div> 
    <div class="card-body"> 
      Authors:
      <ul  *ngFor="let author of targetBook.authors">
        <li>{{author.name}}</li> 
      </ul>
      Pages: ({{targetBook.pages.length}}) <hr>
      <ul *ngFor="let page of targetBook.pages">
        <div class="card-text">{{page.text}}  <br> {{page.ordinalNumber}} <hr></div> 
      </ul>
    </div>
  </div>
</div>